{% extends 'default/index.html.twig'%}
{% block book %}

    <div class="q">
        <p class="quote"><cite>"Dobri prijatelji, dobre knjige i pospana savjest - to je idealan život." - John Burroughs</cite></p>
    </div>

    <div class="clear"></div>
    <div class="rest">
        <nav class="navbar navbar-inverse visible-xs">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Filter</a>
                </div>

                <form action="{{ path('filter_books') }}" method="post">


                <div class="collapse navbar-collapse" id="myNavbar">
                    <div class="panel-group" id="accordion">


                        <div class="form-group">
                            <label for="select"  class="attribute">Autor:</label>
                            <div class="col-lg-10">
                                <select class="form-control" class="select" name="author">
                                    <option value="-1">-</option>
                                    {% for author in authors %}
                                        <option value="{{ author.id }}">{{ author.surname }}, {{ author.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="clear"></div>
                        <div class="form-group">
                            <label for="select" class="attribute">Žanr:</label>
                            <div class="col-lg-10">
                                <select class="form-control" class="select" name="genre">
                                    <option value="-1">-</option>
                                    {% for genre in genres %}
                                        <option value="{{ genre.id }}">{{ genre.genre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="clear"></div>
                        <div class="form-group">
                            <label for="select"  class="attribute">Nakladnik:</label>
                            <div class="col-lg-10">
                                <select class="form-control" class="select" name="publisher">
                                    <option value="-1">-</option>
                                    {% for publisher in publishers %}
                                        <option value="{{ publisher.id }}">{{ publisher.publisher }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="clear"></div>
                        <div class="form-group">
                            <label for="select"  class="attribute">Cijena:</label>
                            <div class="col-lg-10">
                                <select class="form-control" class="select" name="price">
                                    <option value="0">-</option>
                                    <option value="-1">silazno</option>
                                    <option value="1">uzlazno</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                    <input type="submit" class="botun" value="FILTRIRAJ">
                </form>
            </div>
        </nav>

        <section class="col-sm-3 sidenav hidden-xs text-center filter">
            <h3>FILTERI:</h3>
            <form action="{{ path('filter_books') }}" method="post">
                <div class="form-group">
                    <label for="select" class="attribute">Autor:</label>
                    <div class="col-lg-10">

                        <select class="form-control" class="select" name="author">
                            <option value="-1">-</option>
                            {% for author in authors %}
                                <option value="{{ author.id }}">{{ author.surname }}, {{ author.name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <div class="clear"></div>
                <div class="form-group">
                    <label for="select" class="attribute">Žanr:</label>
                    <div class="col-lg-10">
                        <select class="form-control" class="select" name="genre">
                            <option value="-1">-</option>
                            {% for genre in genres %}
                                <option value="{{ genre.id }}">{{ genre.genre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="form-group">
                    <label for="select"  class="attribute">Nakladnik:</label>
                    <div class="col-lg-10">
                        <select class="form-control" class="select" name="publisher">
                            <option value="-1">-</option>
                            {% for publisher in publishers %}
                                <option value="{{ publisher.id }}">{{ publisher.publisher }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="form-group">
                    <label for="select"  class="attribute">Cijena:</label>
                    <div class="col-lg-10">
                        <select class="form-control" class="select" name="price">
                            <option value="0">-</option>
                            <option value="-1">silazno</option>
                            <option value="1">uzlazno</option>
                        </select>
                    </div>
                </div>
                <input type="submit" class="botun" value="FILTRIRAJ">
            </form>
        </section>
        </section>
        <div class="offer" id="offer">
            <section id="top5" class="catalogue">
                <h3>TOP 5 (preporuka vlasnika):</h3>
                <ul id="top5cat" class="book-gallery">

                    {% for book in featuredBooks %}
                        <li>
                            <div class="card">
                                <div class="card-heading">

                                    <a href="{{ path('book_details', {id: book.id}) }}" style="color: white"><p>{{ book.title }}</p></a>

                                </div>
                                <div class="card-body">
                                    <img class="cover img-responsive" src="{{ asset('uploads/images/'~book.image) }}">
                                    <div class="cardtxt">
                                    {% for author in book.authors %} <p> {{ author.name ~ ' ' ~ author.surname }} </p>{% endfor %}

                                    <p>{{ book.price}},00 kn</p>

                                    {% if book.actionPrice is not null %}
                                        <p>AKCIJA:{{ book.actionPrice }},00 kn</p>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>



                    {% endfor %}
                </ul>

            </section>
            <div class="clear"></div>

            <section class="catalogue" id="cat_id">
                <h3>KATALOG:</h3>
                <ul class="book-gallery">

                    {% for book in books %}
                        <li>
                            <div class="card">
                                <div class="card-heading">

                                    <a href="{{ path('book_details', {id: book.id}) }}" style="color: white"><p>{{ book.title }}</p></a>

                                </div>
                                <div class="card-body">
                                    <img class="cover img-responsive" src="{{ asset('uploads/images/'~book.image) }}">
                                    <div class="cardtxt">
                                    {% for author in book.authors %} <p> {{ author.name ~ ' ' ~ author.surname }} </p>{% endfor %}
                                        <p>{{ book.price}},00 kn</p>

                                        {% if book.actionPrice is not null %}
                                            <p>AKCIJA:{{ book.actionPrice }},00 kn</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>


                    {% endfor %}
                </ul>

            </section>

        </div>
        <div class="clear"></div>
        <footer id="contact" class="container">


            <address>
                <div id="podaci1">
                    <h3>KONTAKT:</h3>
                    vlasnik: XY<br>
                    SD Cvjetno Naselje<br>
                    Zagreb,10000<br>
                    HRrvacka<br>

                </div>
                <div id="podaci2">
                    Tel.+385 xx xxx xxxx<br>
                    e-mail adresa:
                    <a class="mailadr" href="" data-toggle="modal" data-target="#adrModal">knjizara_Libra@gmail.com</a>
                </div>
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6078.007778486055!2d15.607762052003713!3d44.03301212627366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4761da54782e6f15%3A0x9037d2b410c8020e!2s23420%2C+Benkovac!5e0!3m2!1shr!2shr!4v1504043099884" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
            </address>


        </footer>
        <footer id="cr">&#169;bk-library team</footer>
    </div>

    <div class="modal fade" id="adrModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">OSTAVITE KOMENTAR</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body panel-body">
                    <form action="{{ path('mail') }}" method="post">
                        E-mail:
                        <input type="email" name="email">
                        Komentar:
                        <textarea rows="4" cols="50" name="comment" placeholder="Enter text here...">
                      </textarea>
                        <input type="submit">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
{% endblock %}