{% extends 'base.html.twig' %}

{% block body %}
    <div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" action="superadmin/new">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Admin add page</div>
            </div>
            <div class="panel-body" >
                <form id="signupform" class="form-horizontal" role="form" action="{{ path('admin_new') }}" method="post">
                    {% if error is not empty %}
                        <div id="signupalert" class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endif %}

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                </form>
            </div>
        </div>
    </div>
{% endblock body %}